@import "blog.css";

html {
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    margin: 0;
}
/* body .content {
    margin-bottom: 120px;
} */
#blog {
    margin-top: 80px;
    margin-bottom: 100px;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
}

#blog #intro {
    font-size: 14px;
    font-style: italic;
    line-height: 1.4em;
    margin-bottom: 40px;
}

#blog .quote {
    margin-bottom: 30px;
}

#blog .quote p {
    margin-bottom: 5px;
}

#blog .post-title {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
}

#blog .post-title a:hover {
    text-decoration: underline;
    color: red;
}

#blog .post-date {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4pm;
}

#blog .post-subtitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.5em;
}

#random {
    font: 100px;
    color: red;
}

