@import "blog.css";

html {
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

body .content{
    margin-bottom: 120px;
}

.front-matter {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.wrap {
    max-width: 700px;
    margin: 0 auto;
}

.wrap h5 {
    margin: 0;
    font-size: 12px;
    /* text-transform: uppercase; */
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    line-height: 1.2em;
}

h2 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    padding-top: 30px;
}

h3 {
    padding-top: 20px
}

.front-matter .bylines {
    display: inline-block;
}

.front-matter .bylines .byline {
    margin-right: 20px;
    float: left;
}

.front-matter .bylines .byline h3 {
    margin: 0;
    font-size: 9px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.front-matter .bylines .byline p {
    margin: 0;
    font-family: -apple-system, Helvetica, arial, sans-serif;
    font-size: 10px;
    line-height: 1.6em;
}

.clear {
    clear: both;
}

.article {
    font-size: 15px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 50px;
}

.article p img {
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.article div.highlight {
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    border-top: 1px solid rgba(16, 6, 63, 0.178);
    border-bottom: 1px solid rgba(16, 6, 63, 0.178);
    /* border-right: 1px solid rgba(16, 6, 63, 0.178);
    border-left: 1px solid rgba(16, 6, 63, 0.178); */
    font-size: 13px;
    line-height: 1.3em;
    display: inline-block;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
    max-width: 600px;
    padding: 5px;
}

/* .credits {
    font-size: 10px;
    line-height: 2;
} */
.credits h4{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.credits p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 2;
}

.bibliography-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bibliography-wrapper ul .bibliography {
    padding-left: 15px;
    padding-top: 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

